%div.swipe#slider
  %section.t-container
    -needed_contest_count = 0
    - @standing.rounds.each_with_index do |round,i|
      -viewport = ''
      -current_round= i+1
      -current_round.times{|i| viewport="#{viewport}i"}
      %section{:class=>"viewport viewport-#{viewport}", :style => "display: #{i==0 ? 'block' : 'none'};"}
        - heading = ["quarter_final","semi_final","final"]
        %h2= I18n.translate(heading[i], :scope => [:standings])
        -needed_contest_count = round.contests.size if i == 0
        -round.contests.sort {|a, b| a.scheduled_start_time <=> b.scheduled_start_time }.each do |contest|
          -locals = { :current_round => current_round, :round_size => @standing.rounds.size, :contest => contest}
          -partial = (i == 0 ? :first_round_contest : :contest)
          =haml(partial,:locals=> locals )
        - if round.contests.size != needed_contest_count                
          -(needed_contest_count - round.contests.size).times do
            =haml(:empty_contest,:locals=> { :current_round => current_round, :round_size => @standing.rounds.size} )
        -needed_contest_count = needed_contest_count / 2
  %div.clear
  %span#position
    %em.on
      ="&bull;"
    %em
      ="&bull;"
    %em
      ="&bull;"


:javascript
  $rrWidth = function() {
      $('.viewport-i .redright').each(function() {
       var getWidth = $('.viewport-i .teambox').width();
       var getWidth = getWidth + 34;
       $('.viewport-i .redright').css({'margin-left' : getWidth});
       var redWidth = getWidth / 5.2;
       $('.viewport-i .redright').css({'width' : redWidth});
    });
    
    $('.viewport-ii .redright').each(function() {
       var getWidth = $('.viewport-ii .teambox').width();
       var getWidth = getWidth + 34;
       $('.viewport-ii .redright').css({'margin-left' : getWidth-20});
       var redWidth = getWidth / 5.2;
       $('.viewport-ii .redright').css({'width' : redWidth});
    });
    
    $('.redleft').each(function() {
       var getWidth = $('.redright').width();
      $('.redleft').css({'margin-left' : -getWidth*1.5-7, 'width' : getWidth*1.5});
    });
  }
  $(window).resize(function() {   $rrWidth();  });
  $(document).ready(function() {  $rrWidth();  });
  $(window).load(function() {   $rrWidth();  });