%header.contest
  %div.location Stamford Bridge
  %div.round Week 38

  %h1 Premier League

%header.teams
  %h1.home-team Chelsea
  %h1.away-team Everton

%section.scores
  %div.home-team 3
  %div.away-team 1

%section.goal-time-line
  %h1 Scores
  %ol
    %li.home-team
      %span.name Torres
      %span.time 63"
    %l.home-team
      %span.name Drogba
      %span.time 54"
    %li.away-team
      %span.name Jelavic
      %span.time 42"
    %li.home-team
      %span.name Lampard
      %span.time 17"

%section.stats
  %ol
    %li
      %span.home-team 46%
      %span.away-team 54%
      Possession
    %li
      %span.home-team 18/5
      %span.away-team 10/3
      Shots/Shots on Goal
    %li
      %span.home-team 5
      %span.away-team 3
      Saves
    %li
      %span.home-team 1
      %span.away-team 1
      Yellow Cards
    %li
      %span.home-team 0
      %span.away-team 0
      Red Cards
    %li
      %span.home-team 16
      %span.away-team 14
      Crosses
    %li
      %span.home-team 5
      %span.away-team 3
      Fouls
