%header.contest
  %div.location Stamford Bridge
  %div.round Week 38

  %h1 Premier League

%header.teams
  %h1.home-team Chelsea
  %h1.away-team Everton

%section.scores
  %div.home-team 3
  %div.away-team 1

%section.goal-time-line
  %h1 Scores
  %ol
    %li.home-team
      %span.name Torres
      %span.time 63"
    %l.home-team
      %span.name Drogba
      %span.time 54"
    %li.away-team
      %span.name Jelavic
      %span.time 42"
    %li.home-team
      %span.name Lampard
      %span.time 17"

%section.events
  %ol
    %li.home-team
      %span.time 63:45
      %span.name Goal
      %p Torres scores for Chelsea
    %li.home-team
      %span.time 63:10
      %span.name Corner Kick
      %p Lampard from Chelsea takes a corner kick
    %li.away-team
      %span.time 63:10
      %span.name Booking
      %p Gibson from Everton receives a yellow card
    %li
      %span.name Match Started
      %p Chelsea vs Everton kicks off
